<div style="display: flex">
  <h3>Artist</h3>
  <input #artistName>
  <h3>Link</h3>
  <input class="link" #ArtistImage>
</div>
<h3>Comment</h3>
<textarea #ArtistComment></textarea>
<div style="display: flex">
  <h3>Album</h3>
  <input #AlbumName>
  <h3>Img</h3>
  <input class="link" #AlbumImage>
</div>
<h3>Comment</h3>
<textarea #AlbumComment></textarea>
<div style="display: flex">
  <h3>Songs</h3>
  <button style="margin: 10px; position: relative; top: 5px" (click)="addSong()">+</button>
</div>

<div *ngFor="let s of songs" (input)="s.title = SongName.value; s.comment = SongComment.value; s.link = SongLink.value">
  <div style="display: flex">
    <h3>Song</h3>
    <input #SongName>
    <h3>Link</h3>
    <input class="link" #SongLink>
  </div>
  <h3>Comment</h3>
  <textarea #SongComment></textarea>
  <button (click)="songs.splice(songs.indexOf(s), 1)" style="width: 100%">Delete song</button>
</div>
<br>
<button (click)="confirmation()" style="width: 100%">CONFIRM</button>
<button routerLink="home/" style="width: 100%">CANCEL</button>
